<!-- templates/emails/verification_email.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset your Password</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        gap: 24px;
        padding: 10px;
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }

      span {
        color: #2e3edf;
      }

      a {
        background-color: #2e3edf;
        border-radius: 40px;
        padding: 12px 24px;
      }

      .email-content {
        display: flex;
        justify-content: start;
        gap: 24px;
      }
    </style>
  </head>
  <body>
    <div class="email-content">
      <h2>Hello,</h2>
      <p>
        We recently received a request to reset your password. If you made this
        request, please click on the following link to reset your password:
      </p>
      <p><a href="{{ verification_link }}">Reset password</a></p>
      <p>
        Please note that for security reasons, this link is only valid for 24
        hours.
      </p>
      <p>If you did not request a password reset, please ignore this email.</p>
      <p>Best regards,<br />Your Videoflix Team!</p>
    </div>
    <img
      src="http://localhost:4200/assets/img/Logo.svg"
      alt="Your Logo"
      width="250"
    />
  </body>
</html>
